[tools]
deno = "2"
node = "22"
"npm:husky" = "9"
"npm:@commitlint/cli" = "20"
"npm:commit-and-tag-version" = "12"
"npm:@mariozechner/pi-coding-agent" = "latest"

[env]
EDITOR = "code"

[tasks]
test = "deno test"
check = "deno check src/mod.ts"
lint = "deno lint"
fmt = "deno fmt"
dev = "deno run --watch main.ts"
ci = ["deno check src/mod.ts", "deno lint", "deno test"]
setup = "husky"
release = "commit-and-tag-version"
"release:first" = "commit-and-tag-version --first-release"
